:root {
    --item-height: calc(var(--item-width) * 1.34);
    --main-change-color: blueviolet;
    --main-text-color: black;
}

main {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    width: var(--main-width);

    gap: 55px;
    margin: 40px 0 80px 0;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 65px;
}

.store-infor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0;
}

.store-img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.store-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.store-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}


.title,
.count {
    width: 100%;
    text-align: center;
    color: var(--main-text-color);
}

.count {
    font-weight: bold;
    font-size: 50px;
}

.main-change {
    width: 100%;
    height: 40px;
    background-color: var(--main-change-color);
}

.menu {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--item-gap);
    flex-wrap: wrap;
}


.menu>.item {
    width: var(--item-width);
    height: var(--item-height);
    position: relative;
}

.item>.text {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    gap: 20px;
}

.text>.name {
    font-size: 20px;
    color: var(--main-text-color);
}

.text>.detail {
    font-size: 10px;
    color: var(--main-text-color);
}

.item>img {
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0));
    object-fit: cover;
}